@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    * {
        cursor: none;
    }

    *::-webkit-scrollbar {
        width: 7px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #383b3e;
        border-radius: 25px;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #e85a4f;
    }

    body {
        background-color: #222629;
        @apply font-[Inter];
    }

    .cursor-dot,
    .cursor-dot-outline {
        margin: auto;
        justify-content: center;
        pointer-events: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .cursor-dot {
        width: 8px;
        height: 8px;
        background-color: #e85a4f;
    }

    .cursor-dot-outline {
        width: 20px;
        height: 20px;
        background-color: rgb(233, 128, 116, 0.5);
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    .font-code {
        @apply font-[monospace];
    }

    .hover-animation-light {
        background: linear-gradient(#e98074 0 0) var(--p, 0) 100% / var(--d, 0) 1px no-repeat;
        transition: 0.3s, background-position 0s 0.3s;
    }
    .hover-animation-light:hover {
        --d: 100%;
        --p: 100%;
    }

    .hover-animation-dark {
        background: linear-gradient(#e85a4f 0 0) var(--p, 0) 100% / var(--d, 0) 1px no-repeat;
        transition: 0.3s, background-position 0s 0.3s;
    }
    .hover-animation-dark:hover {
        --d: 100%;
        --p: 100%;
    }

    .box-shadow {
        -webkit-box-shadow: 0 10px 30px -10px #171a1c;
        -moz-box-shadow: 0 10px 30px -10px #171a1c;
        box-shadow: 0 10px 30px -10px #171a1c;
    }

    #toggle-dark,
    #toggle-dark-md {
        color: #2c77b8;
    }

    #toggle-light,
    #toggle-light-md {
        color: #fcd32b;
    }

    ::selection {
        background: #9b3c34;
    }

    ::-moz-selection {
        background: #9b3c34;
    }
}
